.content-post
  .choose-type
    .choose-type__head
      %h1.choose-type__head--text
        作品の種類を選択してください
    .choose-type__main
      = link_to "#" ,class:"choose-type__main--link" do
        .type-text
          .type-text__wrapper
            .type-text__wrapper--icon
              = icon("fas", "heading")
            .type-text__wrapper--text
              %h1 テキスト
      = link_to new_content_path ,class:"choose-type__main--link" do
        .type-text
          .type-text__wrapper
            .type-text__wrapper--icon
              = icon("fas", "camera")
            .type-text__wrapper--text
              %h1 イラスト・写真
      = link_to video_new_path ,class:"choose-type__main--link-3" do
        .type-text
          .type-text__wrapper
            .type-text__wrapper--icon
              = icon("fas", "video")
            .type-text__wrapper--text
              %h1 動画
      = link_to audio_new_path ,class:"choose-type__main--link-4" do
        .type-text
          .type-text__wrapper
            .type-text__wrapper--icon
              = icon("fas", "headphones-alt")
            .type-text__wrapper--text
              %h1 音声・音楽
