-if @content.image
  .creator-post-index
    .creator-post-index__main
      .creator-post-index__main--image
        = image_tag(@content.image.url)
      .creator-post-index__main--title
        .creator-post-title
          %p.creator-post-title__text
            = @content.image_title
        .creator-post-description
          %p.creator-post-description__text
            = @content.image_description
        .creator-post-option
          .creator-post-option__nest
            -if current_user.creator.id == @content.creator_id
              = link_to content_path(@content.id), :method => :delete , class:"creator-post-option__nest--destroy"do
                =icon('far', 'trash-alt')
        %ul.content-comment
          = render partial: 'comments/index', locals: { comments: @comments }
        = render partial: 'comments/form', locals: { comment: @comment, content: @content }
        

-else
  .creator-post-index
    .post-video-main
      .creator-post-index__main--image.post-video-main__image
        = image_tag(@content.thumbnail.url)
      .creator-post-index__main--title.post-video-main__text
        .creator-post-title
          %p.creator-post-title__text
            = @content.video_title
        .creator-post-description
          %p.creator-post-description__text
            = @content.video_description
        .creator-post-option
          -# = link_to creator_content_path(@creator.id, @creator.contents.ids), :method => :delete , class:"creator-post-option__destroy" do
          -#   =icon('far', 'trash-alt')
-# %script{src: "/assets/enter.js", :type => "text/javascript"}