-if @content.image
  .creator-post-index
    .creator-post-index__main
      .creator-post-index__main--image
        = image_tag(@content.image.url)
      .creator-post-index__main--title
        .creator-post-title
          %p.creator-post-title__text
            = @content.image_title
        .creator-post-description
          %p.creator-post-description__text
            = @content.image_description
        .creator-post-option
          .creator-post-option__nest
            = link_to content_path(@content.id), :method => :delete , class:"creator-post-option__nest--destroy"do
              =icon('far', 'trash-alt')
        .creator-post-comment
          .creator-post-comment__img
            = image_tag('asuka')
          = form_with(model: [@content, @comment], remote: true, class: "creator-post-comment__form") do |f|
            = f.text_area :body, class: "creator-post-comment__form--body", placeholder: "new line shift+enter" 

-else
  .creator-post-index
    .post-video-main
      .creator-post-index__main--image.post-video-main__image
        = image_tag(@content.thumbnail.url)
      .creator-post-index__main--title.post-video-main__text
        .creator-post-title
          %p.creator-post-title__text
            = @content.video_title
        .creator-post-description
          %p.creator-post-description__text
            = @content.video_description
        .creator-post-option
          -# = link_to creator_content_path(@creator.id, @creator.contents.ids), :method => :delete , class:"creator-post-option__destroy" do
          -#   =icon('far', 'trash-alt')