.user-introduction
  .user-introduction__top
  .user-introduction__bottom
    = image_tag ('patreon1'), class: "creator-intro-image"
    -# = @creator.creator_name
    .creator-new-intro
      %h1.creator-new-intro__name
        = @content.creator.creator_name
      .user-minute-new
        .user-minute-new__type
          %p
            is creating
            -if podcasts_check(@content.creator)
              podcasts
            -if videos_check(@content.creator)
              videos
            -if music_check(@content.creator)
              music
      .sns-btn-new
        %div.sns-btn-new__circle1
          = icon('fab', 'instagram')
        %div.sns-btn-new__circle2
          = icon('fab', 'twitter')
      .user-sns-new__bottom
        -# = link_to "シェアする", "#", class:"user-sns-new__bottom--share"
        = link_to "フォローする", "#", class:"user-sns-new__bottom--follow"
      

#bar
  #slider
  .menuItem.creator--option-profile{:alt => "1"} プロフィール
  .menuItem{:alt => "2"} 投稿
  .menuItem{:alt => "3"} プラン
  .menuItem{:alt => "4"} ショップ
.contents-page-nest
  .demo-contents-new-show
    -if @content.image
      .demo-contents-new-show__main
      .creator-post-index-new-show__main--image
        = image_tag(@content.image.url) 
      .creator-post-index-new-show__main--info
        .creator-info-new-show
          = image_tag('patreon1')
          .creator-info-new-show__box
            %p.creator-info-new-show__box--name
              = @content.creator.creator_name
            %p.creator-info-new-show__box--time
              2020年4月30日 22:52
        - if @content.content_perks.exists?
          - @content.content_perks.each do |content_perk|
            - if user_signed_in? && current_user.perk_subscriptions.include?("#{content_perk.perk.title.parameterize}-perk_#{content_perk.perk.id}")
              %p#perk-locked-new-show__permission
                You're already subscribed to this perk. 
            - else
              .creator-contents-perk-status-show
                = link_to "￥#{content_perk.perk.amount}", new_subscription_path(amount: content_perk.perk.amount, perk: content_perk.perk, plan: "#{content_perk.perk.title.parameterize}-perk_#{content_perk.perk.id}"), class:"creator-contents-perk-status-show__box"
        -else
          .creator-contents-perk-status-show
            %p.creator-contents-perk-status-show__box
              全体公開
      .creator-post-index-new-show__main--title
        .creator-post-title-new-show
          
          - if @content.content_perks.exists?
            = link_to creator_content_path(@creator.id, @content.id), class:"creator-post-title-new-show__text btn-disabled" do
              %p.creator-post-title-new-show__text
                = @content.image_title
            .perk-locked-new-show
              .perk-locked-new-show__main
                .perk-locked-new-show__main--icon
                  = icon('fas', 'lock')
          
          - else
            = link_to "#", class:"creator-post-title-new-show__text" do
              %p.creator-post-title-new-show__text
                = @content.image_title
        -# .creator-post-description-new
        -#   %p.creator-post-description-new__text
        -#     = content.image_description
        .creator-post-option-new-show
          .creator-post-option-new-show__nest
            - if current_user.id == @content.creator.user.id
              = link_to content_path(@content.id), :method => :delete , data: { confirm: 'Are you sure?' }, class:"creator-post-option-new-show__nest--destroy" do
                =icon('far', 'trash-alt')
            %ul.content-comment-show
              = render partial: 'comments/index', locals: { comments: @comments }
            = render partial: 'comments/form', locals: { comment: @comment, content: @content }
            

    -else
      .creator-post-index
        .post-video-main
          .creator-post-index__main--image.post-video-main__image
            = image_tag(@content.thumbnail.url)
          .creator-post-index__main--title.post-video-main__text
            .creator-post-title
              %p.creator-post-title__text
                = @content.video_title
            .creator-post-description
              %p.creator-post-description__text
                = @content.video_description
            .creator-post-option
              -# = link_to creator_content_path(@creator.id, @creator.contents.ids), :method => :delete , class:"creator-post-option__destroy" do
              -#   =icon('far', 'trash-alt')
    
    -# %script{src: "/assets/enter.js", :type => "text/javascript"}
  

  -# プラン
  