.videos-new
  .videos-new-wrapper
    .videos-new-wrapper__head
      %h1.videos-new-wrapper__head--text
        = icon("fas", "video")
        VIDEO
      %p Connect Vimeo to offer secure videos to your patrons or add a URL.

    = form_with model:[@creator,@video], local: true, url: { controller: :contents, action: :video_create },method: :post do |f|
      - if @video.errors.any?
        #error_explanation
          %h2
            = pluralize(@video.errors.count, "error")
            prohibited this article from being saved:
          %ul
            - @video.errors.full_messages.each do |msg|
              %li= msg
      .border-nest        
        .video-container-nest
          .video-container
            .video-container__main
              %label{for: "video-label", class: "video-choice"}
                = f.file_field :video, id:"video-label", :accept => 'video/*'
                %div.video-field-entire
                  =icon('fab', 'vimeo-square')
          .video-url
            =icon('fas', 'link')
            %p
              Add URL

        .video-url-container
          .video-url-container__link
            .video-url-container__link--icon
              = icon('fas', 'link')
            .video-url-container__link--url
              = f.text_field :video_url , placeholder:"Type or paste video URL"
        
      .thumbnail-container
        .thumbnail-container__title
          %h1.thumbnail-container__title--text
            Tumbnail
        .thumbnail-container__main
          %label{for: "thumbnail-label", class: "thumbnail-choice"}
            = f.file_field :thumbnail, id:"thumbnail-label"
            %div.thumbnail-field-entire
              .thumbnail-field-entire__icon
                = icon('far', 'images')
                %p.thumbnail-field-entire__icon--text
                  Add optional artwork
      .video-new-title
        %h1
          Video title
        .video-new-title__container
          .video-new-title__container--title
            = f.text_field :video_title, placeholder: "type title(required)"
          .video-new-title__container--description
            = f.text_area :video_description, placeholder: "Enter your video..."
      
      = f.submit 