category
= form_with model: @creator, url: wizard_path do |f|
  = f.check_box :podcasts
  %label{:for => "creator_podcasts"} Podcasts
  = f.check_box :videos 
  %label{:for => "creator_videos"} Videos
  = f.check_box :music
  %label{:for => "creator_music"} Music
  = f.submit "送信",value: "次へ進む"
