.steps-category
  .steps-category__head
    .steps-category__head--top
      %h1 あなたのクリエイターカテゴリーを教えてください
  .steps-category__wrapper
    = form_with model: @creator, url: wizard_path do |f|
      .category-podcasts
        = f.check_box :podcasts
        %label{:for => "creator_podcasts"} Podcasts
      .category-videos
        = f.check_box :videos 
        %label{:for => "creator_videos"} Videos
      .category-music
        = f.check_box :music
        %label{:for => "creator_music"} Music
      = f.submit "次に進む",value: "次に進む", id:"category-submit-btn"

-# %script{:src => "/assets/checkbox.js", :type => "text/javascript"}

