.steps-restriction
  .steps-restriction__head
    .steps-restriction__head--top
      %h1
        あなたの創作活動には性的なコンテンツは含まれていますか?
    .steps-restriction__head--bottom
      %p
        Patronaでは全てのクリエイターが自由に表現できる場所を提供します。異なる年齢、グループ、文化、慣習をもつ人々の為にコンテンツの確認が必要です。「18歳以上」とは、本物のヌードまたはイラスト入りのヌード、または18歳未満のユーザーには不適切と見なされる可能性のあるその他の作品を特徴とする素材を意味します。

  .steps-restriction__wrapper
    = form_with model: @creator, url: wizard_path,  id: 'steps-restriction-form' do |f|
      .steps-restriction__wrapper--no
        = f.radio_button :restriction, :no
        = f.label :restriction, "いいえ", {value: :no, style: "display: inline-block;"}
      .steps-restriction__wrapper--prohibited
        = f.radio_button :restriction, :prohibited
        = f.label :restriction, "はい",{value: :prohibited, style: "display: inline-block;"}
      .steps-restriction__wrapper--submit
        = link_to '戻る', previous_wizard_path
        = f.submit "完了",value: "完了"
     