%p#notice= notice
%h1 Projects
%table
  %thead
    %tr
      %th Title
      %th Donation goal
      %th User
      %th{:colspan => "3"}
  %tbody
    - @perks.each do |perk|
      %tr
        %td= perk.title
        %td= perk
        %td= perk.creator.creator_name
        %td= link_to 'Show', perk
        %td 
          = link_to 'Edit', edit_perk_path(perk)
        %td
          = button_to 'Destroy', perk_path(perk), method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Project', new_perk_path
