.tiers-new
  .tiers-new__top
    %h1.tiers-new__top__title Perks
    %p.tiers-new__top__text Choose what to offer your patrons
  .tiers-new__main
    = form_with(model: @creator, local: true, multipart: true) do |f|
      .tiers-new__main--price
        %div.tiers-new-div
          %h1.tiers-new-div__title Perk price
          %p.tiers-new-div__text Required
            
          = f.text_field :amount
      .tiers-new__main--title
        %div.tiers-new-div
          %h1.tiers-new-div__title Perk title
          %p.tiers-new-div__text Required
        
        = f.text_field :title, placeholder: "type title(required)"
      .tiers-new__main--title
        %div.tiers-new-div-right-margin
          %h1.tiers-new-div__title 
            Perk 
            %br/
            description
          %p.tiers-new-div__text Visible to everyone
        .tiers-new-description
          = f.text_area :description, placeholder: "Enter your tier..."
      .tiers-new__main--title
        %div.tiers-new-div-right-margin
          %h1.tiers-new-div__title 
            Perk image
        %label{for: "tier-new-image", class: "tier-new-image-label"}
          = f.file_field :image, id:"tier-new-image"
          .tier-new-add-inner
            Select perk image
      .tiers-new__bottom
        .tiers-new__bottom--save
          = f.submit "save perk", class:"tiers-new__bottom--save-btn"
          = link_to "cancel", "#"