%p#notice= notice
-# Created by #{@project.user.name}
-# %p
-#   %strong Donation amount:
-#   = number_to_currency(@project.current_donation_amount)

-# %p
-#   %strong Patrons:
-#   = @project.backings_count
= @perk.title
= link_to "Back this idea for #{number_to_currency(@perk.amount)} /mo", new_subscription_path(amount: @perk.amount, perk: @perk, plan: "#{@perk.title.parameterize}-perk_#{@perk.id}")


-# - @perks.each do |perk|
-#   = number_to_currency(perk.current_donational_amount)
-#   = perk.title
-#   = perk.amount
-#   = truncate(strip_tags(perk.description.to_s), length: 140)
  - if author_of(perk)
    = link_to 'delete', perk_path(perk.id), method: :delete, data: {confirm: "Are you sure"}
    = link_to 'Edit', edit_perk_path(perk.id)
  - if user_signed_in? && perk.creator_id == current_user.creator.id
    %h4 Sorry, You can't back your own idea
  - else
    -# - if purchased_perk(perk)
    -#   %p
    -#     You're already subscribed to this perk. 
    -#   = link_to "Manage your subscriptions in your account settings", edit_user_registration_path
    -# - else
    = link_to "Back this idea for #{number_to_currency(perk.amount)} /mo", new_subscription_path(amount: perk.amount, perk: perk, plan: "#{perk.title.parameterize}-perk_#{perk.id}")

  

-# -# = link_to 'Back', projects_path

