- comments.each do |comment|
  - unless comment.id.nil?
    %li.user-comment-index
      .user-comment-index__img
        =image_tag('asuka')
      .user-comment-index__body
        -if comment.creator.creator_name
          .user-comment-index__body--name
            = link_to "#{comment.creator.creator_name}", creator_path(comment.creator.id) 
            %h1 creator
        -else
          .user-comment-index__body--name
            = link_to "#{comment.user.nickname}", user_path(comment.user.id) 
        .user-comment-index__body--text
          = comment.body
        .user-comment-option-nest
          .user-comment-option
            .user-comment-option__reply
              =icon('fas','reply')
            .user-comment-option__like
              =icon('far', 'heart')
          
          - if comment.user == current_user
            = link_to "delete", comment_path(comment.id), method: :delete, remote: true, class:"user-comment-delete"