%header.outlooks-glance-header
  .outlooks-glance-header__left
    .outlooks-glance-header__left--icon
      = link_to root_path do
        =icon('fas', 'spinner')
      
  .outlooks-glance-header__right
    %nav
      %ul.outlooks-glance-header-nav
        = render partial: 'creators/search'
        -# %li
        -#   .outlooks-glance-header-nav__search
        -#     .outlooks-glance-header-nav__search--inner
        -#       %input#incremental-creator-name{:placeholder => "Find a creator", :type => "text" }
        -#     #creator-search-result
        -if user_signed_in?
          %li.outlooks-glance-header-nav__message
            = icon('far', 'comments')
          
          %li.outlooks-glance-header-nav__logout
            %div
              -# = link_to "log out", destroy_user_session_path, method: :delete, class: "outlooks-glance-header-nav__logout--btn"
        
          -if current_user.creator == nil
            .dropdown-nest
              = link_to user_path(current_user.id) do
                .user-icon-img
                  = image_tag('patreon1')
              %ul.dropdown-menu
                %li
                  = link_to "Account", edit_user_registration_path, class:"dropdown-menu__1"
                %li
                  = link_to "User Page",user_path(current_user.id), class:"dropdown-menu__1"
                %li
                  = link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-menu__1"
          -else
            .dropdown-nest
              = link_to creator_path(current_user.creator.id), class:"creator-avatar" do
                .creator-icon-img
                  = image_tag('patreon1')
              %ul.dropdown-menu
                %li
                  = link_to "Account", edit_user_registration_path, class:"dropdown-menu__1"
                %li
                  = link_to "Edit your page", edit_creator_path(current_user.creator.id), class:"dropdown-menu__1"
                %li
                  = link_to "Creator Page", creator_path(current_user.creator.id), class:"dropdown-menu__1"
                %li
                  = link_to "Perk", list_creator_perks_path(current_user.creator.id), class:"dropdown-menu__2"
                - unless current_user.can_receive_payment?
                  %li
                    = link_to "Perk_new", stripe_connect_path, class:"dropdown-menu__3"
                - else
                  %li
                    = link_to "Perk_new", new_creator_perk_path(current_user.creator.id), class:"dropdown-menu__3"
                %li
                  = link_to "log out", destroy_user_session_path, method: :delete, class: "dropdown-menu__1"
              
        -else
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "register", new_user_registration_path, class: "outlooks-glance-header-nav__login--btn"
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "log in", new_user_session_path, class: "outlooks-glance-header-nav__login--btn"

-# %script{:src => "/assets/incremental-search.js", :type => "text/javascript"}
%script{:src => "/assets/dropdown.js", :type => "text/javascript"}