%header.outlooks-glance-header
  .outlooks-glance-header__left
    .outlooks-glance-header__left--icon
      
  .outlooks-glance-header__right
    %nav
      %ul.outlooks-glance-header-nav
        %li
          %input#incremental-creator-name{:placeholder => "Find a creator", :type => "text"}
        -if user_signed_in?
          %li.outlooks-glance-header-nav__logout
            %div
              = link_to "log out", destroy_user_session_path, method: :delete, class: "outlooks-glance-header-nav__logout--btn"
          -if current_user.creator.id == nil
            = link_to user_path(current_user.id) do
              .user-icon-img
                = image_tag('asuka')
          -else
            = link_to creator_path(@creator.id) do
              .creator-icon-img
                = image_tag('asuka')

        -else
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "新規登録", new_user_registration_path, class: "outlooks-glance-header-nav__login--btn"
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "ログイン", new_user_session_path, class: "outlooks-glance-header-nav__login--btn"