%header.outlooks-glance-header
  .outlooks-glance-header__left
    .outlooks-glance-header__left--icon
      = link_to "home", root_path
      
  .outlooks-glance-header__right
    %nav
      %ul.outlooks-glance-header-nav
        = render partial: 'creators/search'
        -# %li
        -#   .outlooks-glance-header-nav__search
        -#     .outlooks-glance-header-nav__search--inner
        -#       %input#incremental-creator-name{:placeholder => "Find a creator", :type => "text" }
        -#     #creator-search-result
            
        -if user_signed_in?
          %li.outlooks-glance-header-nav__logout
            %div
              = link_to "log out", destroy_user_session_path, method: :delete, class: "outlooks-glance-header-nav__logout--btn"
          -if current_user.creator == nil
            = link_to user_path(current_user.id) do
              .user-icon-img
                = image_tag('patreon1')
          -else
            = link_to creator_path(current_user.creator.id) do
              .creator-icon-img
                = image_tag('patreon1')

        -else
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "register", new_user_registration_path, class: "outlooks-glance-header-nav__login--btn"
          %li.outlooks-glance-header-nav__login
            %div
              = link_to "log in", new_user_session_path, class: "outlooks-glance-header-nav__login--btn"

-# %script{:src => "/assets/incremental-search.js", :type => "text/javascript"}