.user-show-section
  .user-show-contents
    .user-show-contents__left
      .user-section
        .user-section__image
          = image_tag('blue-dog')
        .user-section__nickname
          %p.user-section__nickname--text
            = current_user.nickname
      .user-support-status
        %p.user-support-status__text
          supporting
      .user-support-member
        %p.user-support-member__text
          You aren’t supporting any creators yet.

    .become-creator
      %h1.become-creator__head
        BECOME A CREATOR
      .become-creator__text
        %p.become-creator__text--head
          Build a membership for your fans and get paid to create on your own terms.
        = link_to "Get started", new_creator_path, class:"become-creator__text--link"
    .find-creator
      %h1.find-creator__head
        FIND CREATORS YOU LOVE
      .find-creator__text
        %p.find-creator__text--head
          The creators you already love may be on Patreon – connect your social media to find them.
        = link_to "Get started", "#", class:"find-creator__text--link"


  .user-show-section__center
    .posts-sort

    .posts-index
      %p.posts-index__head
        %span
          Support 
        or 
        %span
          follow 
        creators to see posts in your feed.
      = link_to "Find creators you love", "#", class:"posts-index__link"

  