.user-introduction
  .user-introduction__top
  .user-introduction__bottom
    = image_tag ('patreon1'), class: "creator-intro-image"
    -# = @creator.creator_name
    .creator-new-intro
      %h1.creator-new-intro__name
        = @user.nickname
      

      .sns-btn-new
        %div.sns-btn-new__circle1
          = icon('fab', 'instagram')
        %div.sns-btn-new__circle2
          = icon('fab', 'twitter')
      .user-following-list
        .user-following-list__left
          %p.user-following-list__left--top
            フォロー
          %p.user-following-list__left--bottom
            20
        .user-following-list__right
          %p.user-following-list__right--top
            支援クリエイター
          %p.user-following-list__right--bottom
            10
      -# .user-sns-new__bottom
      -#   .creator-follow-btn
      -#     = link_to "クリエイターになる", "#", class:"creator-follow-btn__link"

.bar-margin
  #slider
  = link_to "全ての投稿" , "#", class:"menuItem creator--option-profile", alt:"1"
  = link_to "支援者だけの投稿", "#", class:"menuItem" , alt:"2"
  = link_to "クリエイターを探す", "#", class:"menuItem", alt:"3"
  = link_to "ショップ", "#", class:"menuItem", alt:"4" 