.videos-new
  .videos-new-wrapper
    .videos-new-wrapper__head
      %h1.videos-new-wrapper__head--text
        = icon("fas", "video")
        VIDEO
      %p Connect Vimeo to offer secure videos to your patrons or add a URL.

    = form_for(@video) do |f|
      - if @video.errors.any?
        #error_explanation
          %h2
            = pluralize(@video.errors.count, "error")
            prohibited this article from being saved:
          %ul
            - @video.errors.full_messages.each do |msg|
              %li= msg
      .video-container
        .video-container__main
          %label{for: "video-label", class: "video-choice"}
            = f.file_field :video, id:"video-label", :accept => 'video/*'
            %div.video-field-entire
      
      .video-url-container
        .video-url-container__link
          .video-url-container__link--icon
            = icon('fas', 'link')
          .video-url-container__link--url
            = f.text_field :video_url 
      
      .thumbnail-container
        .thumbnail-container__title
          %h1.thumbnail-container__title--text
            Tumbnail
        .thumbnail-container__main
          %label{for: "thumbnail-label", class: "thumbnail-choice"}
            = f.file_field :image, id:"thumbnail-label"
            %div.thumbnail-field-entire
              .thumbnail-field-entire__icon
                = icon('far', 'images')
                %p.thumbnail-field-entire__icon--text
                  Add optional artwork
      .video-new-title
        %h1
          Video title
        .video-new-title__container
          .video-new-title__container--title
            = f.text_field :title, placeholder: "type title(required)"
          .video-new-title__container--description
            = f.text_area :description, placeholder: "Enter your video..."
      
      
      = f.submit 