.user-introduction
  .user-introduction__top
  .user-introduction__bottom
    = image_tag ('patreon1'), class: "creator-intro-image"
    -# = @creator.creator_name
    .creator-new-intro
      %h1.creator-new-intro__name
        = @creator.creator_name
      .user-minute-new
        .user-minute-new__type
          %p
            is creating
            -if podcasts_check(@creator)
              podcasts
            -if videos_check(@creator)
              videos
            -if music_check(@creator)
              music
      .sns-btn-new
        %div.sns-btn-new__circle1
          = icon('fab', 'instagram')
        %div.sns-btn-new__circle2
          = icon('fab', 'twitter')
      .user-sns-new__bottom
        -# = link_to "シェアする", "#", class:"user-sns-new__bottom--share"
        - unless current_user.creator.id == @creator.id
          -if @creator.free?
            - unless current_user.creator
              - if @creator_ids.include?(@creator.id)
                = link_to room_path(current_user.rooms.find_by(creator_id: @creator.id)) , class:"user-sns-new__bottom--link" do
                  .user-sns-new__bottom--circle
                    = icon('far', 'envelope')
                
              - else
                = button_to rooms_path(room: {creator_id: @creator.id}) ,class:"user-sns-new__bottom--link" do
                  .user-sns-new__bottom--circle
                    = icon('far', 'envelope')
                -# = form_for Room.new do |f|
                -#   = f.hidden_field :creator_id, :value => @creator.id
                -#   = f.submit 'message', class: "creator-new-message"
          -elsif @creator.patron_only?
            - @creator.perks.each do |perk|
              - if user_signed_in? && current_user.perk_subscriptions.include?("#{perk.title.parameterize}-perk_#{perk.id}")
                - unless current_user.creator
                  - if @creator_ids.include?(@creator.id)
                    = link_to room_path(current_user.rooms.find_by(creator_id: @creator.id)), class:"user-sns-new__bottom--link" do
                      .user-sns-new__bottom--circle
                        = icon('far', 'envelope')
                    
                  -else
                    = button_to rooms_path(room: {creator_id: @creator.id}), class:"user-sns-new__bottom--link" do
                      .user-sns-new__bottom--circle
                        = icon('far', 'envelope')
                    -# = form_for Room.new do |f|
                    -#   = f.hidden_field :creator_id, :value => @creator.id
                    -#   = f.submit
        .creator-follow-btn
          = link_to "フォローする", "#", class:"creator-follow-btn__link"
      