-if @creator.contents.present? == false
  .creator-post
    .creator-post-wrapper
      .creator-post-wrapper__main
        .post-head
          .post-head__top
            %h1.post-head__top--text
              You haven't posted anything yet!
          .post-head__center
            %p.post-head__center--text
              Creators who post patron-only content twice a month tend to retain more patrons. This means their patrons pledge longer!
          .post-head__bottom
            = link_to "Make your first post", post_path
-else
  .creator-post-index
    - @creator.contents.each do |content|
      -if content.image.present?
        .creator-post-index__main
          .creator-post-index__main--image
            = image_tag(content.image.url)
          .creator-post-index__main--title
            %p
              = content.image_title
          = link_to "Make your first post", post_path
      -elsif content.video.present?
        .post-video-main
          .creator-post-index__main--image.post-video-main__image
            = image_tag(content.thumbnail.url)
          .creator-post-index__main--title
            %p
              = content.video_title

