.user-show-contents
  .user-show-wrapper
    = render 'nav'
    = render 'new_intro'
    -# = render 'introduction'
    -# = render 'plan'
    -# = render 'perk'
    -# = render 'about'
    
    = render 'new_perk'
    = render 'new_about'
    -# = render 'sns'
    -# = render 'goal'
    -# = render 'appeal'
    -# = render 'contents'
    = render 'new_contents'
    - if user_signed_in?
      = link_to "全てのコンテンツを見る #{@creator.contents.count}", contents_index_creator_path(@creator.id), class:"creator-contents-number"
    - else
      = link_to "全てのコンテンツを見る #{@creator.contents.count}", new_user_session_path, class:"creator-contents-number"