.tiers-top-x__head
  %h1.tiers-top-x__head--title
    クリエイターの編集
  %p.tiers-top__head--text
    -# Set your creator details
= form_with(model: @creator, local: true) do |f|
  .creator-edit-nest
    .creator-edit
      .creator-edit__first
        .creator-name-edit
          .creator-name-edit__left
            %h1
              クリエイター名
            %p 
              必須
          .creator-name-edit__right
            = f.text_field :creator_name

      .creator-edit__second
        .creator-photo-edit
          .creator-photo-edit__left
            %h1
              アイコン
            %p 
              必須
            %span
              推奨サイズ : 256px(幅) 256px(高さ)
          .creator-photo-edit__right
            %label{for: "images-image-upload", class: "image-new-add__label"}
              = f.file_field :image, id:"images-image-upload"
              %div.image-new-add__label--entire
                .image-new-add-inner.creator-edit-image
                  = image_tag('patreon1')
        .creator-photo-cover-edit
          .creator-photo-cover-edit__left
            %h1
              カバーフォト
            %p 
              必須
            %span
              推奨サイズ : 1600px(幅) 400px(高さ)
            
          .creator-photo-cover-edit__right
            %label{for: "images-image-upload", class: "image-new-add__label"}
              = f.file_field :cover_image, id:"images-image-upload"
              %div.image-new-add__label--entire.creator-edit-cover-photo
                .image-new-add-inner.creator-edit-image

      .creator-edit__third
        .creator-description-edit
          .creator-description-edit__left
            %h1 クリエイター紹介
            %p 必須
                
            %h2 
              あなたのページに訪れたユーザーが見るページです。魅力的な写真や動画であなたの個性を表現しましょう。
          .creator-description-edit__right
            = f.rich_text_area :description

        .creator-video-edit
          .creator-video-edit__left
            %h1 イントロビデオ
            %p 任意
          .creator-video-edit__right
            %label{for: "video-label", class: "video-choice"}
              = f.file_field :video, id:"video-label", :accept => 'video/*'
              %div.video-field-entire
                =icon('fab', 'vimeo-square')
        .creator-thumnail-edit
          .creator-thumnail-edit__left
            %h1 イントロフォト
            %p 任意
          .creator-thumnail-edit__right
            = f.file_field :thumbnail , :accept => 'image/*'
            -# %label{for: "video-label", class: "video-choice"}
            -#   = f.file_field :thumnail, id:"video-label", :accept => 'image/*'
            -#   %div.video-field-entire
            -#     =icon('fab', 'vimeo-square')
        .creator-dm-edit
          .creator-dm-edit__left
            %h1 DM設定
            %p 任意
          .creator-dm-edit__right
            = f.radio_button :dm_permission, :free
            = f.label :dm_permission, "全員に解放", {value: :free, style: "display: inline-block;"} 
            = f.radio_button :dm_permission, :patron_only
            = f.label :dm_permission, "支援者のみ",{value: :patron_only, style: "display: inline-block;"}
    .creator-edit-submit
      = f.submit "Save Changes"