%body
  .slack
    %nav.teams
      %ul.teams__list
        %li.teams__item
          %button.teams__button.teams__button--active
            DA
        %li.teams__item
          %button.teams__button
            SS
        %li.teams__item
          %button.teams__button
            CS
        %li.teams__item
          %button.teams__button
            PA
        %li.teams__item
          %button.teams__button
            GF
        %li.teams__item
          %button.teams__button
            OP
        %li.teams__item
          %button.teams__button
            HP
        %li.teams__item
          %button.teams__button
            DH
    .sidebar
      %button.team-menu
        .team-menu__info
          %h1.team-menu__name Patrona chat
          .team-menu__status
            %span.team-menu__username
              - if current_user.id == @room.user_id
                = @room.creator.creator_name
              - else 
                = @room.user.nickname
        %span.team-menu__alarm.ion-ios-bell-outline
      .threads
        %span.ion-chatbubble-working.threads__icon
        All Threads
      .channels
        %h2.channels__heading
          %span
            Channels
            %span.channels__number (16)
          %button.ion-ios-plus-outline.channels__add
        %ul.channels__list
          %li.channels__item
            %button.channels__button
              %span general
          %li.channels__item
            %button.channels__button
              %span random
          %li.channels__item
            %button.channels__button
              %span self-defense
          %li.channels__item
            %button.channels__button
              %span charms
          %li.channels__item
            %button.channels__button
              %span potions
      .dm
        %h2.dm__heading
          %span
            ダイレクトメッセージ
            %span.dm__number (29)
          %button.ion-ios-plus-outline.dm__add
        %ul.dm__list
          %li.dm__item
            %button.dm__button.dm__button--slackbot
              %span slackbot
          %li.dm__item
            %button.dm__button.dm__button--online
              %span Harry Potter
          %li.dm__item
            %button.dm__button
              %span Hermoine Granger
          %li.dm__item
            %button.dm__button.dm__button--online.dm__button--active
              %span Ron Weasley
          %li.dm__item
            %button.dm__button.dm__button--online
              %span Neville Longbottom
          %li.dm__item
            %button.dm__button
              %span Ginny Weasley
          %li.dm__item
            %button.dm__button.dm__button--online
              %span Luna Lovegood
          %li.dm__item
            %button.dm__button
              %span Cho Chang
          %li.dm__item
            %button.dm__button
              %span Seamus Finnigan
          %li.dm__item
            %button.dm__button.dm__button--online
              %span Lavender Brown
    .main
      %header.main__header
        %h1.main__h1
          -if current_user.id == @room.user_id
            = icon('fas', 'user-check')
            = @room.creator.creator_name
          -else
            = @room.user.nickname
        %button.ion-android-close
      .main__content
        .main__container
          %div#show_user{data: {show_user: current_user.id}}
          .col-md-12
            .chat_box
              %div#messages{data: {room_id: @room.id}}
              %div#messages-creator{data: {creator_id: @room.creator.id}}
              -if current_user.creator
                %div#messages-creator-1{data: {creator_id: current_user.creator.id}}
              %div#messages-user{data: {user_id: @room.user.id}}
              = render @messages
            %center
              .input-creator-message
                .input-creator-message__inner
                  = text_field nil, nil, 'data-behavior': 'room_speaker', class: 'center-block'
                  .input-creator-message__inner--icons
                    = icon('fas', 'paperclip')
                    = button_tag type: 'submit', class: 'chat_submit' do
                      = icon('fas', 'paper-plane')
          -# %h2.main__h2 Sidebar Theme
          -# %section.main__section
          -#   %p
          -#     Customize the look of the
          -#     %strong Dumbledore's Army
          -#     team. Only you will see this.
          -#   .main__themes
          -#     %label.radio{:for => "aubergine"}
          -#       .radio__img.radio__img--aubergine
          -#       .radio__wrapper
          -#         %input#aubergine.radio__input{:name => "theme", :type => "radio"}/
          -#         aubergine
          -#     %label.radio{:for => "hoth"}
          -#       .radio__img.radio__img--hoth
          -#       .radio__wrapper
          -#         %input#hoth.radio__input{:name => "theme", :type => "radio"}/
          -#         hoth
          -#     %label.radio{:for => "monument"}
          -#       .radio__img.radio__img--monument
          -#       .radio__wrapper
          -#         %input#monument.radio__input{:name => "theme", :type => "radio"}/
          -#         monument
          -#     %label.radio{:for => "chocolate"}
          -#       .radio__img.radio__img--chocolate
          -#       .radio__wrapper
          -#         %input#chocolate.radio__input{:name => "theme", :type => "radio"}/
          -#         choco mint
          -#     %label.radio{:for => "ochin"}
          -#       .radio__img.radio__img--ochin
          -#       .radio__wrapper
          -#         %input#ochin.radio__input{:name => "theme", :type => "radio"}/
          -#         ochin
          -#     %label.radio{:for => "workhard"}
          -#       .radio__img.radio__img--workhard
          -#       .radio__wrapper
          -#         %input#workhard.radio__input{:name => "theme", :type => "radio"}/
          -#         work hard
          -#       %section.main__section
          -#         %h3.main__h3 Accessible Themes
          -#         .main__themes
          -#           %label.radio{:for => "solanum"}
          -#             .radio__img.radio__img--solanum
          -#             .radio__wrapper
          -#               %input#solanum.radio__input{:name => "theme", :type => "radio"}/
          -#               Protanopia &amp; Deuternopia
          -#           %label.radio{:for => "brinjal"}
          -#             .radio__img.radio__img--brinjal
          -#             .radio__wrapper
          -#               %input#brinjal.radio__input{:name => "theme", :type => "radio"}/
          -#               tritanopia
          -#             %section.main__section
          -#               %h3.main__h3 Custom Theme
          -#               .main__color-pickers
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "column-bg"}
          -#                     Column BG
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--column-bg
          -#                         %input#column-bg.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "column-bg", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "menu-bg-hover"}
          -#                     Menu BG Hover
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--menu-bg-hover
          -#                         %input#menu-bg-hover.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "menu-bg-hover", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "active-item"}
          -#                     Active Item
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--active-item
          -#                         %input#active-item.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "active-item", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "active-item-text"}
          -#                     Active Item Text
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--active-item-text
          -#                         %input#active-item-text.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "active-item-text", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "hover-item"}
          -#                     Hover Item
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--hover-item
          -#                         %input#hover-item.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "hover-item", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "text-color"}
          -#                     Text Color
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--text-color
          -#                         %input#text-color.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "text-color", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "active-presence"}
          -#                     Active Presence
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--active-presence
          -#                         %input#active-presence.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "active-presence", :maxlength => "7"}/
          -#                 %fieldset.main__field
          -#                   %label.main__label{:for => "mention-badge"}
          -#                     Mention Badge
          -#                     .main__color-field
          -#                       .main__input-wrapper.main__input-wrapper--mention-badge
          -#                         %input#mention-badge.main__colorpicker{:type => "color"}/
          -#                       %input.main__hexcode{"data-color" => "mention-badge", :maxlength => "7"}/
          -#               %fieldset.main__field--full
          -#                 %label.main__label
          -#                   Copy and paste these values to share your custom theme with others:
          -#                   %input#share-colors.main__share-input{:name => "share-colors"}/
%script{:src => "./footerFixed.js", :type => "text/javascript"}