.perk-footer
  .perk-footer__left
    = icon('fas','spinner')
  .perk-footer__center
    .perk-footer__center--left
      = link_to "About", "#"
      = link_to "Careers", "#"
      = link_to "Create on Patreon", "#"
      = link_to "Brand", "#"
      = link_to "Press", "#"
      = link_to "Partners", "#"
      = link_to "Sitemap", "#"
    .perk-footer__center--right
      = link_to "Help Center & FAQs", "#"
      = link_to "Developers", "#"
      = link_to "App Directory", "#"
      = link_to "Blog", "#"
      = link_to "Patreon U | Creator Coaching", "#"
      = link_to "Community Guidlines", "#"
      = link_to "Terms of Use", "#"
      = link_to "Privacy Policy", "#"
      = link_to "Accessibility", "#"
  .perk-footer__right
    .perk-footer-sns
      = icon('fab', 'twitter')
      = icon('fab', 'facebook')
      = icon('fab', 'instagram')
    .perk-footer-badge
      %img.aligncenter{:alt => "Google Play で手に入れよう", :height => "60px", :src => "https://play.google.com/intl/en_us/badges/images/generic/ja_badge_web_generic.png", :width => "155px"}/
      %a{:style => "display: inline-block; overflow: hidden; \nbackground: url('https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2015-05-17&kind=iossoftware&bubble=ios_apps')\nno-repeat; width: 135px; height: 40px;"}
    .perk-footer-co
      %p © Perk





